.first-slide {
  background-image: url(../image/banner1.svg);
  width: 100%;

  z-index: -1;
  background-size: 100vw;
  background-position-x: center;
  background-size: 100%;
  background-repeat: repeat;
  justify-self: center;
}
.first-slide img {
  margin-top: 5%;
}
.second-slide {
  background-image: url(../image/banner2.svg);
  width: 100%;

  z-index: -1;
  background-size: 100vw;
  background-position-x: center;
  background-size: 100%;
  background-repeat: repeat;
  justify-self: center;
}

.slide-content {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 7%;
  justify-content: end;

  text-align: right;
}
.slide-content hr {
  color: #f17228;
}
.slide-title {
  color: #f17228;
}
.slide-par {
  color: #4d2000;
}
.slide2-title {
  color: white;
  z-index: -1;
}
@media (min-width: 700px) {
  .slide-content {
    width: 30%;
  }
  .carousel {
    height: 50%;
  }
  .first-slide {
    height: 30vh;
  }
  .slide-title {
    font-size: 40px;
  }
  .slide-par {
    font-size: 18px;
  }
}
