footer {
  background-image: url(../image/footer/bg.svg);
  background-size: 100%;
}
footer a {
  text-decoration: none;
  color: aliceblue;
}
.mSocial {
  margin-left: 35%;
}
.copyright {
  color: aliceblue;
  /* margin-left: 50%; */
  text-align: right;
}
footer hr {
  color: aliceblue;
}
#footerTitle {
  color: aliceblue;
  font-size: 18px;
}
.title {
  width: 50%;
  margin-bottom: 5%;
}
footer ul li {
  margin-bottom: 10%;
  font-size: 17px;
}
.number {
  color: aliceblue;
}
@media (min-width: 700px) {
  .copyright {
    margin-left: 15%;
  }
}
