.header {
  padding: 3%;
}
h2 {
  color: #f17228;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}
.logo {
  justify-content: center;
  margin-left: 10%;

  width: 90%;
}
.headerMenu {
  padding-left: 15%;
  margin-top: auto;
  margin-bottom: auto;
}
.headerMenu img {
  padding-right: 8%;
}
.drop-menu {
  height: 20%;
}
.drop-list {
  background: #ffffff;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 5%;
}

.dropdown-menu {
  width: 100vw;
  height: 400vh;
}
.dropdown-menu hr {
  color: #f17228;
}
@media (min-width: 700px) {
  .logo {
    justify-content: start;
    text-align: left;
    margin-left: 0%;
    margin-right: 0%;
    width: 20%;
  }
  .navbarUl {
    width: 60%;
  }
  .navList {
    margin: auto;
    width: 100%;
  }
  .navList li {
    margin-left: 5%;
    /* font-family: "Poppins"; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
  }
  .headerMenu {
    width: 20%;
    /* margin-left: 10%; */
    padding-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media (min-width: 1000px) {
  header {
    /* height: 6vh; */
    padding: 0%;
  }
  .logo img {
    min-height: 30px;
    margin-bottom: auto;
    margin: auto;
  }
  .headerMenu {
    display: flex;
    margin-left: 0;
    padding-left: 0%;
    /* margin-right: 20%; */
    width: 45%;
    height: 30px;
    display: flex;
  }
  .headerMenu a {
    margin-left: 10%;
    display: flex;
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
    color: #f17228;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  #searchInput {
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.5);
    /* warm.orange */
    padding-left: 25px;
    background: url(../image/search-input.svg);
    background-repeat: no-repeat;
    background-position: 4% 50%;
    color: #b5b5b5;
    border: 1px solid #fbc5a6;
    border-radius: 10px;
  }
}
